.banner-container {
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content:center;
  align-items: center;
  height: 45px;
}

.banner-title {
  color: white;
  margin-right: 10px;
}

.banner-button-container {
  display: flex;
}

.banner-button {
  width: 60px;
  height: 25px;
  padding: 3px;
}

.button-image {
  width: 60px;
  height: 30px;
  border-radius: 10%;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.button-image:hover {
  border: 1px solid white;
}