.contact-us-page {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  background-color: antiquewhite;
}

.contact-us-section {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-info {
  width: 424px;
}

.form-title {
  color: antiquewhite;
}

.inputs-container {
  padding: 2%;
}

.button-container {
  padding: 5%;
}

.submit-button {
  width: 306px;
  height: 38px;
  background-color: antiquewhite;
}