.nav-bar {
  height: 70px;
  background-color: rgb(29, 28, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}

.list-item {
  display: flex;
  margin: 5px;
  height: 45px;
  width: 105px;
  text-decoration: none;
  text-align: center;
  background: rgb(34, 33, 33);
  transition: background-color .5s ease-in;
  color: antiquewhite;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.list-item-selected {
  border-bottom: 2px solid white;
}

ul li:hover {
  background-color: rgb(73, 48, 48);
}

a {
  margin: auto;
  text-decoration: none;
  color: white;
}

.logo-container {
  height: 100%;
}

.logo-img {
  height: 100%;
  width: 233px;
}