.person-card-container {
  padding: 3%;
  width: 300px;
}

.person-card {
  background: antiquewhite;
  padding: 5%;
  border: 1px solid gray;
  border-radius: 5%;
  height: 400;
  width: 300;
}

.person-card:hover {
  border: 1px solid white;
  height: 450;
  width: 350;
}

.person-image {
  height: 275px;
  width: 250px;
  border-radius: 5%;
}