html {
  margin: 0;
  min-height: 100%;
}

html.suits, body.suits {
  margin: 0;
  min-height: 100%;
  background-image: repeating-linear-gradient(135deg, rgba(254, 255, 254, 0.08) 0px, rgba(78, 78, 78, 0.08) 1px,transparent 1px, transparent 9px),repeating-linear-gradient(45deg, rgba(151, 21, 4, 0.08) 0px, rgba(153, 9, 9, 0.08) 1px,transparent 1px, transparent 9px),linear-gradient( rgb(0, 0, 0),rgb(116, 4, 4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navbar */
body.suits .nav-bar {
  height: 8vh;
  background-color: rgb(116, 4, 4);
  border-top: 1px groove rgb(247, 247, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-selected {
  border-bottom: 2px solid white;
}

body.suits ul li:hover {
  background-color: rgb(94, 91, 91);
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

/* Person Card */
body.suits .person-card {
  background-color: rgb(116, 4, 4);
  color: antiquewhite;
  padding: 5%;
  border-radius: 5%;
}

body.suits .person-card:hover {
  box-shadow: 6px 6px 4px rgba(238, 229, 229, 0.5);
  border: 1px inset white;
  transform: scale(1.05);
}

/* Person Page */
body.suits .person-page{
  background-color: rgb(116, 4, 4);
  color: antiquewhite;
  margin: 5%;
  border-radius: 5%;
  display: flex;
  height: 100%;
}

body.suits .phone-link {
  color: rgb(243, 208, 208);
  margin-left: 5px;
}

body.suits .email-link {
  color: rgb(243, 208, 208);
  margin-left: 5px;
}

body.suits .fax-box {
  color: white;
}

/* About Us */

body.suits .about-us {
  display: flex;
  background-color: rgb(116, 4, 4);
  color: antiquewhite;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
}

body.suits .contact-us-form {
  width:400px;
  height:600px;
  background-color: antiquewhite;
  color: rgb(116, 4, 4);
  border: 1px solid rgb(160, 3, 3);
  box-shadow: 2px 2px 4px rgb(19, 18, 18);
  border-radius: 5%;
  padding: 2%;
}

body.suits label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(116, 4, 4);
}

body.suits input {
  height: 30px;
  width: 300px;
  border: 1px solid rgb(160, 3, 3);
  background-color: white;
  box-shadow: rgb(47, 52, 54) 1px 1px 4px 1px inset;
}

body.suits textarea {
  height: 100px;
  width: 300px;
  border: 1px solid rgb(160, 3, 3);
  background-color: white;
  box-shadow: rgb(47, 52, 54) 1px 1px 4px 1px inset;
}

/* Contact Us */

body.suits .contact-us-page {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(116, 4, 4);
  color: antiquewhite;
  padding: 2%;
}

body.suits .contact-us-section {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.suits .contact-us-info {
  width: 80%;
}

body.suits .form-title {
  color: rgb(116, 4, 4);
}

body.suits .inputs-container {
  padding: 2%;
}

body.suits .button-container {
  padding: 5%;
}

body.suits .submit-button {
  width: 306px;
  height: 38px;
  color: antiquewhite;
  background-color: rgb(160, 3, 3);
}

.submit-button:hover {
  border: 1px inset white;
}

/* Loader */

.loader-dots {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: rgb(160, 3, 3);
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}